.width100{
    width: 100%;
}

.height100{
    height: 100%;
}

.logo-sony
{width: 5rem;}

.jumbo-bg{
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-position: center;
    height: 40rem;  
}

.jumbo-2-bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-position: center;
    height: 40rem;  
}

.logo-returnal{
    width: 15rem;
}