.width100{
    width: 100%;
}

.width50{
    width: 100px;
}
.height100{
    height: 100%;
}

.logo-sony
{width: 5rem;}

.jumbo-bg{
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-position: center;
    height: 40rem;  
}

.jumbo-2-bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-position: center;
    height: 40rem;  
}

.logo-returnal{
    width: 15rem;
}

footer a{
    color: white;
    text-decoration: none;
}

footer li{
    list-style-type: none;
}

/*hover*/

.opacity{
    opacity: 50%;
}

.opacity:hover{
    opacity: 100%;
}



.bar{
    height: 3px;
}

